svg line {
    stroke: black;
}

svg rect {
    fill: black;
    stroke: none;
    /*stroke-width: 0.2;*/
}

svg rect.node {
    /*fill: #ff5246*/
}

svg rect.leaf {
    fill: #77c63d
}

svg text {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI Adjusted", "Segoe UI", "Liberation Sans", sans-serif;
    color: aliceblue;
    fill: white;
    text-anchor: middle;
    dominant-baseline: middle;
}

svg text.node {

}

svg text.leaf {

}
